@charset "UTF-8";
.display-112 {
  font-family: "Open Sans", sans-serif;
  font-size: 7rem;
  line-height: 100%;
  color: #1f1f1f;
  font-weight: 900;
}

.display-88 {
  font-family: "Open Sans", sans-serif;
  font-size: 5.5rem;
  line-height: 100%;
  color: #1f1f1f;
  font-weight: 900;
}

.subtitle-18 {
  font-family: "Open Sans", sans-serif;
  color: #1f1f1f;
  font-size: 1.2rem;
  padding-bottom: 2px;
}

.label-14 {
  font-family: "Open Sans", sans-serif;
  color: #1f1f1f;
  font-size: 0.9rem;
  letter-spacing: 0.03cm;
}

.label-14-light {
  font-family: "Open Sans", sans-serif;
  color: #565656;
  font-size: 0.9rem;
  letter-spacing: 0.03cm;
}

.label-bold {
  font-family: "Open Sans", sans-serif;
  color: #1f1f1f;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.03cm;
}

.p-14 {
  font-size: 0.9rem;
  color: #1f1f1f;
  line-height: 180%;
}

.general-link {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.primary-button {
  font-family: "Roboto", sans-serif;
  background-color: #1f1f1f;
  color: #fefefe;
  font-size: 18px;
  padding: 12px 16px;
  transition-duration: 0.4s;
}
.primary-button:hover {
  background-color: #fefefe;
  border: 2px solid #1f1f1f;
  color: #1f1f1f;
  cursor: pointer;
}
.primary-button:active {
  background-color: #ebebeb;
}
.primary-button:disabled {
  background-color: #898989;
  color: #333333;
}

.secondary-button {
  font-family: "Roboto", sans-serif;
  background-color: #fefefe;
  color: #1f1f1f;
  border: 2px solid #333333;
  font-size: 18px;
  padding: 12px 16px;
  transition-duration: 0.4s;
}
.secondary-button:hover {
  background-color: #1f1f1f;
  color: #ebebeb;
  cursor: pointer;
}
.secondary-button:active {
  background-color: #1f1f1f;
}
.secondary-button:disabled {
  border: 2px solid #565656;
  color: #565656;
}

.general-img {
  min-height: 40px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

main {
  align-items: center;
  position: relative;
  justify-content: center;
}

@media (max-width: 480px) {
  main {
    min-height: auto;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 3% 8%;
  background-color: #fefefe;
  align-items: center;
}
header #links-header {
  text-align: center;
  align-content: center;
}
header #links-header a {
  padding: 4px 8px;
  text-decoration: none;
  color: #1f1f1f;
}
header #links-header a:hover {
  border-bottom: 2px solid #565656;
  transition: ease-in-out;
  color: #565656;
}
header #links-header a:active {
  border-bottom: 1px solid #565656;
  transition: linear;
}

@media (max-width: 480px) {
  header {
    align-items: center;
    flex-direction: column;
  }
  header section {
    margin-top: 12px;
    align-content: center;
  }
}
main section.project-hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  min-height: 80vh;
  padding: 90px 10% 90px 10%;
  /* min-height: calc(100vh - 110px); */
  /* no puedo hacer que aplique bien el space between */
}
main section.project-hero article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
main section.project-hero article div h1 {
  width: min-content;
}
main section.project-hero article div.infos-container {
  padding: 16px 12px;
}
main section.project-hero article div.infos-container div.info {
  padding-bottom: 24px;
}
main section.project-hero figure {
  position: absolute;
  height: auto;
  width: 70%;
  z-index: -1;
  top: 2;
  left: 0;
  bottom: 1;
  right: 0;
  margin: auto;
}
main section.project-hero figure img {
  width: auto; /* Asegura que la imagen no se desborde del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 4px;
}

@media (max-width: 480px) {
  main section.project-hero {
    min-height: 100%;
    padding: 90px 20px;
  }
  main section.project-hero article div h1.display-112 {
    font-size: 4rem;
  }
  main section.project-hero figure img {
    height: 80%;
    width: 80%;
  }
}
div.card {
  height: 100%;
}
div.card div.card-body {
  height: 100%;
}
div.card div.card-body a.btn {
  font-family: "Roboto", sans-serif;
  background-color: #1f1f1f;
  color: #fefefe;
  font-size: 18px;
  padding: 12px 16px;
  transition-duration: 0.4s;
  border-style: none;
}
div.card div.card-body a.btn:hover {
  background-color: #fefefe;
  border: 2px solid #1f1f1f;
  color: #1f1f1f;
  cursor: pointer;
}
div.card div.card-body a.btn:active {
  background-color: #ebebeb;
}
div.card div.card-body a.btn:disabled {
  background-color: #898989;
  color: #333333;
}

main section.section-main-banner-1 {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 112px 10%;
  align-items: flex-end;
}
main section.section-main-banner-1 div {
  width: 70%;
}
main section.section-main-banner-1 div.infos-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}
main section.section-main-banner-1 div.infos-container div.info {
  width: 100%;
}
main section.section-main-banner-1 div.infos-container img {
  width: 104px;
  height: 104px;
  border-radius: 4px;
  padding-bottom: 24px;
}
main section.three-columns-content {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 80px 10%;
}
main section.three-columns-content article.about-me {
  width: 33.3333%;
}
main section.three-columns-content article.about-me h2 {
  padding-bottom: 12px;
}
main section.three-columns-content article.about-me p {
  padding-bottom: 12px;
}
main section.three-columns-content figure {
  position: relative;
  justify-content: flex-start;
  width: 33.3333%;
  height: 600px;
  margin: 0px 48px 0px 48px;
}
main section.three-columns-content figure img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
main section.three-columns-content article.about-capabilities {
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
main section.three-columns-content article.about-capabilities ul.capabilities-list {
  padding-top: 12px;
}
main section.three-columns-content article.about-capabilities ul.capabilities-list li {
  list-style: none;
  font-size: 14px;
  line-height: 140%;
  color: #1f1f1f;
  font-style: normal;
  padding: 2px 0px 2px 0px;
}

/* MEDIA QUERIES */
/* about */
@media (max-width: 638px) {
  main section.section-main-banner-1 {
    flex-wrap: wrap;
    padding: 112px 20px;
    gap: 48px;
  }
  main section.section-main-banner-1 div {
    width: 100%;
  }
  main section.section-main-banner-1 div h2.display-88 {
    font-size: 48px;
  }
  main section.section-main-banner-1 div.infos-container {
    width: 100%;
    padding: 0px;
  }
  main section.three-columns-content {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 0px 40px 72px;
  }
  main section.three-columns-content article.about-me {
    width: 80%;
  }
  main section.three-columns-content article.about-me button {
    width: 100%;
  }
  main section.three-columns-content figure {
    margin: 0%;
    height: auto;
    width: 80%;
  }
  main section.three-columns-content article.about-capabilities {
    width: 80%;
  }
}
@media (min-width: 639px) and (max-width: 939px) {
  main section.section-main-banner-1 {
    gap: 80px;
  }
  main section.section-main-banner-1 div h2.display-88 {
    font-size: 56px;
  }
}
@media (min-width: 940px) and (max-width: 1140px) {
  main section.section-main-banner-1 div h2.display-88 {
    font-size: 72px;
  }
}
@media (min-width: 1440px) {
  main section.section-main-banner-1 {
    justify-content: space-between;
  }
  main section.section-main-banner-1 div {
    width: 50%;
  }
}
main section.section-main-banner-1 figure.circle-image {
  width: auto;
  position: relative;
}
main section.section-main-banner-1 figure.circle-image img {
  width: auto;
}
main section.two-columns-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 80px 155px 168px 155px;
}
main section.two-columns-content form.contact-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 70%;
  padding: 0px 48px 0px 48px;
}
main section.two-columns-content form.contact-form label {
  font-weight: 600;
}
main section.two-columns-content form.contact-form input {
  padding: 32px 20px;
  border: none;
  border-bottom: 1px solid #1f1f1f;
  border-top: 1px solid #1f1f1f;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #b4b4b4;
}
main section.two-columns-content form.contact-form legend {
  font-weight: 600;
}
main section.two-columns-content form.contact-form textarea {
  padding: 32px 20px;
  border: none;
  border-bottom: 1px solid #1f1f1f;
  border-top: 1px solid #1f1f1f;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #b4b4b4;
}
main section.two-columns-content article.contact-details {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-end;
}
main section.two-columns-content article.contact-details ul.socials-list {
  padding-top: 16px;
}
main section.two-columns-content article.contact-details ul.socials-list li {
  list-style: none;
  font-size: 14px;
  line-height: 140%;
  color: #1f1f1f;
  font-style: normal;
  padding: 2px 0px 2px 0px;
}
main section.two-columns-content article.contact-details ul.socials-list li a {
  font-size: 14px;
  line-height: 140%;
  color: #1f1f1f;
  font-style: normal;
  padding: 2px 0px 2px 0px;
  text-decoration: none;
}

/* MEDIA QUERIES */
/* form */
@media (max-width: 1024px) {
  main section.two-columns-content {
    flex-wrap: wrap;
    padding: 0px 20px 80px 20px;
    justify-content: center;
    gap: 48px;
  }
  main section.two-columns-content form.contact-form {
    width: 100%;
  }
  main section.two-columns-content article.contact-details {
    width: 100%;
    align-content: flex-start;
    padding: 0px 48px;
  }
}
@media (min-width: 1440px) {
  main section.two-columns-content {
    margin: 10%;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 8%;
  background-color: #fefefe;
  margin-top: auto;
}
footer section {
  display: flex;
  align-items: center;
  gap: 40px;
}
footer section div {
  display: flex;
  gap: 40px;
}
footer nav a {
  padding: 4px 8px;
  text-decoration: none;
  color: #1f1f1f;
}
footer nav a:hover {
  border-bottom: 2px solid #565656;
  transition: ease-in-out;
  color: #565656;
}
footer nav a:active {
  border-bottom: 1px solid #565656;
  transition: linear;
}

@media (max-width: 480px) {
  footer {
    align-items: flex-start;
    flex-direction: column;
    padding: 8%;
    border-top: 1px solid #ebebeb;
  }
  footer section {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }
  footer section div {
    padding-bottom: 16px;
    border-bottom: 1px solid #ababab;
  }
  footer nav {
    padding-top: 16px;
  }
  footer nav a {
    padding-left: 0px;
  }
}

/*# sourceMappingURL=styles.css.map */
