main{ 

    section.section-main-banner-1{
        height: 100%;
        display: flex;
        flex-direction: row;
        padding: 112px 10%;
        align-items: flex-end;
        div{
            width: 70%;
            // AQUI VA UN H2 CON SUS ESTILOS
        }
        div.infos-container{
            display: flex;
            flex-direction: column;
            width: 30%;
            div.info{
                width: 100%;
            }
            img{
                width: 104px;
                height: 104px;
                border-radius: 4px;
                padding-bottom: 24px;
            }
        }
    }
    section.three-columns-content{
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 80px 10%;
        article.about-me{
            width: 33.3333%;
            h2{
                padding-bottom: 12px;
            }
            p{
                padding-bottom: 12px;
            }

        }
        figure{
            position: relative;
            justify-content: flex-start;
            width: 33.3333%;
            height: 600px;
            margin: 0px 48px 0px 48px;
            img{
                width: 100%;
                height: auto;
                border-radius: 4px;
            }
        }
        article.about-capabilities{
            width: 33.3333%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: flex-start;
            ul.capabilities-list{
                padding-top: 12px;
                li{
                    list-style: none;
                    font-size: 14px;
                    line-height: 140%;
                    color: $n500;
                    font-style: normal;
                    padding: 2px 0px 2px 0px;
                }
            }
        }
    }
}



/* MEDIA QUERIES */

/* about */


@media (max-width: 638px){
    main{
        section.section-main-banner-1{
            flex-wrap: wrap;
            padding: 112px 20px;
            gap: 48px;
            div{
                width: 100%;
                h2.display-88{
                    font-size: 48px;
                }
            }
            div.infos-container{
                width: 100%;
                padding: 0px;
            }
        }
        section.three-columns-content{
            flex-direction: column;
            align-items:center ;
            gap: 32px;
            padding: 0px 40px 72px;
            article.about-me{
                width: 80%;
                button{
                    width: 100%;
                }
            }
            figure{
                margin: 0%;
                height: auto;
                width: 80%;
            }
            article.about-capabilities{
                width: 80%;
            }
        }
    }
}


@media (min-width: 639px) and (max-width:939px){
    main section.section-main-banner-1{
        gap: 80px;
        div{
            h2.display-88{
                font-size: 56px;
            }
        }
    }
}


@media (min-width: 940px) and (max-width:1140px){
    main section.section-main-banner-1{
        div{
            h2.display-88{
                font-size: 72px;
            }
        }
    }
}

@media (min-width: 1440px){
    main section.section-main-banner-1{
        justify-content: space-between;
        div{
            width: 50%;
        }
    }
}