main{
    section.section-main-banner-1{
        figure.circle-image{
            width: auto;
            position: relative;
            img{
                width: auto;
                animation: bounce 2s infinite;
            }
        }
    }
    section.two-columns-content{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 80px 155px 168px 155px;
        form.contact-form{
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            width: 70%;
            padding: 0px 48px 0px 48px;
            label{
                font-weight:600;
            }
            input{
                padding: 32px 20px;
                border: none;
                border-bottom: 1px solid $n500;
                border-top: 1px solid $n500;
                font-family: "Roboto", sans-serif;
                font-size: 20px;
                color: $n100;
                opacity: 0.5;
                &:hover{
                    background-color: $n50;
                }
            }
            legend{
                font-weight:600 ;
            }
            textarea{
                padding: 32px 20px;
                border: none;
                border-bottom: 1px solid $n500;
                border-top: 1px solid $n500;
                font-family: "Roboto", sans-serif;
                font-size: 20px;
                color: $n100;
                opacity: 0.5;
                &:hover{
                    background-color: $n50;
                }
            }
        }
        article.contact-details{
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-content: flex-end;
            ul.socials-list{
                padding-top: 16px;
                li{
                    list-style: none;
                    font-size: 14px;
                    line-height: 140%;
                    color: $n500;
                    font-style: normal;
                    padding: 2px 0px 2px 0px;
                    a{
                        font-size: 14px;
                        line-height: 140%;
                        color: $n500;
                        font-style: normal;
                        padding: 2px 0px 2px 0px;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

/* MEDIA QUERIES */

/* form */

@media (max-width: 1024px){
    main{
        section.two-columns-content{
            flex-wrap: wrap;
            padding: 0px 20px 80px 20px;
            justify-content: center;
            gap: 48px;
            form.contact-form{
                width: 100%;
            }
            article.contact-details{
                width: 100%;
                align-content: flex-start;
                padding: 0px 48px;
            }
        }
    }

}

@media (min-width: 1440px){
    main{
        section.two-columns-content{
            margin: 10%;
        }

    }
}