// transform: translate(-0%, 90%);


div.card{
    height: 100%;
    div.card-body{
        height: 100%;
        // a.btn{
        //     transform: translate(-0%,90%);
        // }
        a.btn{
            font-family: "Roboto", sans-serif;
            background-color: $n500;
            color: $n10;
            font-size: 18px;
            padding: 12px 16px;
            transition-duration: 0.4s;
            border-style: none;
            &:hover{
                background-color: $n10;
                border: 2px solid $n500;
                color: $n500;
                cursor: pointer;
            }
            &:active{
                background-color: $n50;
            }
            &:disabled{
                background-color: $n100;
                color: $n300;
            }
        }
    }
}


// MEDIA QUERIES

@media (max-width: 638px){
    h1{
        font-size: 48px;
    }
}