
// COLOR

$n10: #fefefe;
$n50: #ebebeb;
$n75: #ebebeb;
$n100: #898989;
$n200: #565656;
$n300: #333333;
$n400: #242424;
$n500: #1f1f1f;




// TEXT

.display-88 {
    font-family: "Open Sans", sans-serif;
    font-size: 5.5rem;
    line-height: 100%;
    color: $n500;
    font-weight: 900;
}

.subtitle-18 {
    font-family: "Open Sans", sans-serif;
    color: $n500;
    font-size: 1.2rem;
    padding-bottom: 2px;
    margin: 0px;
}

.label-14 {
    font-family: "Open Sans", sans-serif;
    color: $n500;
    font-size: 0.9rem;
    letter-spacing: 0.03cm;
    margin: 0px;
}

.label-bold{
    font-family: "Open Sans", sans-serif;
    color: $n500;
    font-size: 0.9rem;
    letter-spacing: 0.03cm;
    margin: 0px;
    font-weight: 700;
}

.p-14 {
    font-size: 0.9rem;
    color: $n500;
    line-height: 180%;
}







// IMAGES
.general-img{
    min-height: 40px;
}


// SLIDER
.slider {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.slide {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100vh;
    // padding: 90px 10%;
    box-sizing: border-box;
}